body {
    background-image: url('/static/images/beachpictest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f8ff;
    font-family: poppins, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;

}


.page-content {
    flex: 1;
}
.page-content h2 {
    text-align: center;
}


.committee-members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* spacing between embeds */
}

.committee-embed {
    max-width: 570px;          /* limits the width */
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
}
