body {
    background-image: url('/static/images/beachpictest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f8ff;
    font-family: poppins, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;

}

.page-content {
    flex: 1;
}

.page-content h1 {
    text-align: center;
}

.introduction{
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 75%;
    margin: 40px auto;
    font-family: poppins, sans-serif;
    font-size: 80%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.insta-post {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 40px auto;
}

.insta-post img {
    width: 100%;
    display: block;
    flex-grow: 1;
}

.caption {
    background-color: #f0f8ff;
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 800px;
    font-family: poppins, sans-serif;
    font-size: 80%;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}



