<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navBar.css') }}">
    <meta charset="UTF-8">
    <title>Meet the Committee</title>
</head>
<div class="navbar">
    <div onclick="window.location.href='/'">
        <img src="{{ url_for('static', filename='images/bluetitslogo1.png') }}" class="logo">
    </div>    <ul class="nav-links">
        <li><a href="/healthAndSafety">Health and Safety</a></li>
        <li><a href="/committee">Committee</a></li>
    </ul>
</div>
<body>
<p>Meet the Committee web page!</p>
<p><img src="static/SianSylvieAmber.jpg" alt="SianSylvieAmber"></p>
</body>
</html>