<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/navBar.css">
    <meta charset="UTF-8">
    <title>Health and Safety</title>
</head>
<body>
<div class="navbar">
    <div class="logo" onclick="window.location.href='index.html'">Navigation Bar</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/healthAndSafety">Health and Safety</a></li>
        <li><a href="/committee">Committee</a></li>
    </ul>
</div>
<p>This is the health and safety page</p>
</body>
</html>