<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navBar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EU Blue Tits</title>
</head>
<body>

<div class="navbar">
    <div onclick="window.location.href='/'">
        <img src="{{ url_for('static', filename='images/bluetitslogo1.png') }}" class="logo">
    </div>
    <ul class="nav-links">
        <li><a href="/healthAndSafety">Health and Safety</a></li>
        <li><a href="/committee">Committee</a></li>
        <li><a href="/login">Login</a></li>

    </ul>
</div>
<main>
<div class="page-content">
    <p>This is my blue tits website</p>
    <section class="introduction">
        <h2>About EU Blue Tits</h2>
        <p>
            This society is a fun and fresh way to meet new people, whilst getting outdoors and enjoying the Scottish nature. It is also accessible, affordable and beneficial for your health, body and soul.<br>
            During the semesters, we will be embarking on trips to beaches, lochs and rivers all over Scotland every Sunday at 11am!<br>
            So get your swimmers ready and goggles on and dive into the waters of Blue Tits!<br>
            <a href ="https://www.eusa.ed.ac.uk/activities/view/BlueTits">Get your membership here!</a><br>
            Love, Blue Tits x
        </p>
    </section>
</div>
</main>

{% include 'footer.html' %}



</body>
</html>